*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: #eee;
	max-width: 100vw;
	overflow: hidden;
}
#app{
	display: flex;
}
.router-view{
	flex-grow: 1;
	padding: 20px;
}
button{
	background-color: cadetblue;
	padding: 10px 20px;
	color: white;
	font-weight: 700;
	border: 0;
	box-shadow: grey 0px 0px 2px;
}
button:hover{
	background-color: #599;
}
button:active{
	background-color: cadetblue;
}
option{
	font-size: 1.1em;
	padding: 10px;
}